body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.grid-box {
    display: grid;
    grid-template-columns: [logo] 1fr [nav] 1fr;
    align-items: center;
}

.grid-box-article {
    display: grid;
    grid-template-columns: [photo] 1fr [article] 2fr;
    grid-template-rows: 1fr 1fr;
}

.grid-box-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    margin: 0 25px 0 25px;
    background-color: skyblue;
    align-items: center;
    justify-items: center;
}

.main-header {
    height: 5rem;
}

.sticky {
    background-color: #4D708A;
    position: fixed;
    top: 0;
    width: 100%;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../res/main.jpg");
    height: 100%;
    margin-bottom: 2rem;
}

.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    /* background-color: #111; */
    color: #fff;
    padding: 1rem;
    font-size: 3rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.active {
    padding-bottom: 5px;
    border-bottom: 5px solid #d35400;
}


/* Header Nav */

#main-nav>ul {
    margin: 0px;
    list-style: none;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin-right: 2rem;
    font-size: 1.2rem;
}

#main-nav ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid #d35400;
}

#main-nav {
    grid-area: nav;
    display: flex;
    justify-content: end;
}

#logo {
    grid-area: logo;
}

#main-logo {
    padding-left: 2rem;
    color: white;
}


/* Main */

.article-p {
    grid-area: article;
    width: 80%;
    font-size: 1.5rem;
}

.article-img {
    width: 240px;
    height: auto;
    grid-area: photo;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.heading-1 {
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.grid-box-img img {
    width: 100%;
    width: 320px;
    height: auto;
}